.body{
    background-color: aquamarine;
}
h1.sports-head{
    text-align: center;
    font-size: 40px;
}
.navbar{
    text-align: center;
    overflow: hidden;
    font-size: 30px;
    color: rgb(255, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.navbar a {
    float: center;
    font-size: 16px;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-radius: 500px;
}
.navbar a:hover {
    background-color: #034d09;
    color: rgb(0, 0, 0);
}
.heads{
    position: relative;
    background-color: darkcyan;
    border-radius: 40px;
    padding: 20px;
}
#myImage {
    position: fixed;
    bottom: 0;
    right: 0;
    border: 2px solid #333;
    border-radius: 8px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}
